@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Regular.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text SemiBold";
  src: url("../fonts/red-hat-text/RedHatText-SemiBold.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text Bold";
  src: url("../fonts/red-hat-text/RedHatText-Bold.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
  background-color: hsl(13, 31%, 94%);
}

/* ----------------x- Main Content -x----------------*/

main {
  margin: 10px 10px 0 10px;
  padding: 20px 0;
  position: relative;
}

.main-title {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  padding-bottom: 20px;
  color: hsl(14, 65%, 9%);
  margin-bottom: 10px;
}

.product {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(9, 400px);
  justify-content: center;
}

.name,
.price,
.btn-card .btn-text,
.item-quantity {
  font-size: 1.2rem;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.dessert {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dessert-waffle {
  background-image: url("../images/image-waffle-mobile.jpg");
}

.dessert-creme-brulee {
  background-image: url("../images/image-creme-brulee-mobile.jpg");
}

.dessert-macaron {
  background-image: url("../images/image-macaron-mobile.jpg");
}

.dessert-tiramisu {
  background-image: url("../images/image-tiramisu-mobile.jpg");
}

.dessert-baklava {
  background-image: url("../images/image-baklava-mobile.jpg");
}

.dessert-pie {
  background-image: url("../images/image-meringue-mobile.jpg");
}

.dessert-cake {
  background-image: url("../images/image-cake-mobile.jpg");
}

.dessert-brownie {
  background-image: url("../images/image-brownie-mobile.jpg");
}

.dessert-panna-cotta {
  background-image: url("../images/image-panna-cotta-mobile.jpg");
}

.description {
  text-transform: capitalize;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.btn-card {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  width: 55%;
  background-color: hsl(20, 50%, 98%);
  border: 1.5px solid hsl(14, 25%, 72%);
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.btn-card .btn-text {
  font-size: 1.1rem;
}

.btn-card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.before-click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.after-click {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: hsl(20, 50%, 98%);
}

.btn-minus,
.btn-plus {
  font-size: 1.2rem;
  cursor: pointer;
}

.category {
  font-size: 1.1rem;
  color: hsl(7, 20%, 60%);
}

.name {
  color: hsl(14, 65%, 9%);
}

.price {
  font-size: 1.1rem;
  color: hsl(14, 86%, 42%);
}

/* ----------------x- End Main Content -x----------------*/

/* ----------------x- Aside -x----------------*/
.cart {
  width: auto;
  /* border: 3px solid red; */
  background-color: hsl(20, 50%, 98%);
  padding: 25px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.aside-title {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: hsl(14, 86%, 42%);
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.cart-contents {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-empty img {
  width: 130px;
  height: auto;
}

.cart-empty-text {
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(12, 20%, 44%);
  font-size: 0.8rem;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* display: none; */
}

.cart-items-container hr {
  color: rgba(0, 0, 0, 0.3);
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-qty,
.item-name,
.item-total {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.item-qty {
  margin-right: 5px;
  color: hsl(14, 86%, 42%);
}

.item-name {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: hsl(14, 65%, 9%);
}

.item-detail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.8rem;
}

.item-price {
  color: hsl(7, 20%, 60%);
}

.item-total {
  color: hsl(12, 20%, 44%);
}

.item-cart-btn {
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: hsl(7, 20%, 60%);
}

.cart-item-order-total {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(14, 65%, 9%);
}

.order-total-price {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: hsl(14, 65%, 9%);
}

.cart-carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  display: none;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  font-size: 0.9rem;
  color: hsl(14, 65%, 9%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.carbon-neutral-text span {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.btn-confirm-order {
  display: none;
  padding: 15px 0;
  font-size: 1.1rem;
  text-transform: capitalize;
  background-color: hsl(14, 86%, 42%);
  border-style: none;
  color: hsl(20, 50%, 98%);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.btn-confirm-order:hover {
  background-color: hsl(14, 78%, 41%);
}

/* ----------------x- End Of Aside -x----------------*/

/* ----------------x- Confirmed Order -x----------------*/
.main-shadow {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.order-confirmed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80%;
  padding: 25px 15px;
  background-color: hsl(20, 50%, 98%);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  gap: 20px;
  overflow: scroll;
}

.order-confirmed__icon {
  width: 40px;
  height: auto;
}

.order-confirmed__title {
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 45px;
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.order-confirmed__subtitle {
  font-size: 0.9;
  font-family: "Red Hat SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(7, 20%, 60%);
}

.order-confirmed__items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px;
  background-color: hsl(13, 31%, 94%);
}

.order-confirmed__items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 250px;
  overflow: scroll;
}

.order-confirmed__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.order-confirmed__grand-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.order-confirmed__grand-total-text {
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(12, 20%, 44%);
}

.order-confirmed__grand-total-price {
  font-family: "Red Hat Text Bold";
  font-size: 1.4rem;
  color: hsl(14, 65%, 9%);
}

.order-confirmed__item-img {
  width: 60px;
}

.order-confirmed__item-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
  width: 100%;
}

.order-confirmed__item-name {
  color: hsl(14, 65%, 9%);
  font-family: "Red Hat Text SemiBold";
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-confirmed__item-pricing {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.order-confirmed__item-qty {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(14, 86%, 42%);
}

.order-confirmed__item-price {
  color: hsl(7, 20%, 60%);
}

.order-confirmed__item-subtotal {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(14, 65%, 9%);
}

.order-confirmed__button {
  padding: 15px 0;
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold";
  cursor: pointer;
  background-color: hsl(14, 86%, 42%);
  border-style: none;
  color: hsl(20, 50%, 98%);
  font-size: 1.1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* ----------------x- End Of Confirmed Order -x----------------*/

/* ----------------x- Media Query -x----------------*/
@media screen and (min-width: 360px) {
  main {
    display: grid;
    grid-template-columns: 340px;
    justify-content: center;
  }

  .product {
    grid-template-columns: subgrid;
  }

  .order-confirmed {
    height: auto;
  }
}

@media screen and (min-width: 576px) {
  main {
    grid-template-columns: 400px;
  }

  .order-confirmed {
    position: absolute;
    top: 23%;
    left: 20%;
    overflow: hidden;
    padding: 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: translate(-10%, -18%);
    -webkit-transform: translate(-10%, -18%);
    -moz-transform: translate(-10%, -18%);
    -ms-transform: translate(-10%, -18%);
    -o-transform: translate(-10%, -18%);
  }
}

@media screen and (min-width: 767px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }

  .product {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .cart {
    width: 450px;
    height: auto;
  }

  .order-confirmed__icon {
    width: 50px;
  }

  .order-confirmed__item-img {
    height: 60px;
    width: auto;
  }

  .order-confirmed__item-name {
    font-size: 1.2rem;
  }

  .order-confirmed__item-subtotal {
    font-size: 1.2rem;
  }

  .order-confirmed__grand-total-text {
    font-size: 1.1rem;
  }

  .order-confirmed__grand-total-price {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    row-gap: 20px;
  }

  .main-title {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .product {
    grid-template-columns: repeat(3, 300px);
  }

  .cart {
    width: 350px;
  }

  .cart-items-container {
    max-height: 300px;
    overflow: scroll;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 800px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
    align-items: start;
    padding: 25px 0;
    grid-template-areas:
      "title cart"
      "product cart";
  }

  .product {
    grid-template-columns: repeat(3, 250px);
  }

  .main-title {
    grid-area: title;
  }

  .product {
    grid-area: product;
    row-gap: 20px;
  }

  .cart {
    grid-area: cart;
  }

  .btn-card {
    width: 70%;
  }

  .order-confirmed {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -5%);
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
    -o-transform: translate(-50%, -5%);
  }
}
