@font-face {
  font-family: "Red Hat Text";
  src: url("../fonts/red-hat-text/RedHatText-Regular.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text SemiBold";
  src: url("../fonts/red-hat-text/RedHatText-SemiBold.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text Bold";
  src: url("../fonts/red-hat-text/RedHatText-Bold.woff2") format("woff2"), url("../fonts/red-hat-text/RedHatText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", Arial, Helvetica, sans-serif;
  background-color: hsl(13, 31%, 94%);
}

/* ----------------x- Main Content -x----------------*/

main {
  margin: 10px 10px 0 10px;
  padding: 20px 0;
}

.main-title {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  /* padding: 10px 10px 10px 0; */
  padding-bottom: 20px;
  color: hsl(14, 65%, 9%);
  margin-bottom: 10px;
}

.product {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: repeat(9, 400px);
  justify-content: center;
}

.name,
.price,
.btn-card .btn-text,
.item-quantity {
  font-size: 1.2rem;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.product-card {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.dessert {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dessert-waffle {
  background-image: url("../images/image-waffle-mobile.jpg");
}

.dessert-creme-brulee {
  background-image: url("../images/image-creme-brulee-mobile.jpg");
}

.dessert-macaron {
  background-image: url("../images/image-macaron-mobile.jpg");
}

.dessert-tiramisu {
  background-image: url("../images/image-tiramisu-mobile.jpg");
}

.dessert-baklava {
  background-image: url("../images/image-baklava-mobile.jpg");
}

.dessert-pie {
  background-image: url("../images/image-meringue-mobile.jpg");
}

.dessert-cake {
  background-image: url("../images/image-cake-mobile.jpg");
}

.dessert-brownie {
  background-image: url("../images/image-brownie-mobile.jpg");
}

.dessert-panna-cotta {
  background-image: url("../images/image-panna-cotta-mobile.jpg");
}

.description {
  /* border: 2px solid yellow; */
  text-transform: capitalize;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.btn-card {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  width: 55%;
  /* padding: 10px 0; */
  background-color: hsl(20, 50%, 98%);
  border: 1.5px solid hsl(14, 25%, 72%);
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.btn-card .btn-text {
  font-size: 1.1rem;
}

.btn-card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.before-click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 1px solid red; */
  padding: 10px 0;
  /* display: none; */
}

.after-click {
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: hsl(20, 50%, 98%);
  /* border: 1px solid red; */
}

.btn-minus,
.btn-plus {
  font-size: 1.2rem;
  cursor: pointer;
}

.category {
  font-size: 1.1rem;
  color: hsl(7, 20%, 60%);
}

.name {
  color: hsl(14, 65%, 9%);
}

.price {
  font-size: 1.1rem;
  color: hsl(14, 86%, 42%);
}

/* ----------------x- End Main Content -x----------------*/

/* ----------------x- Aside -x----------------*/
.cart {
  width: auto;
  /* border: 3px solid red; */
  background-color: hsl(20, 50%, 98%);
  padding: 25px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.aside-title {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: hsl(14, 86%, 42%);
  font-size: 1.6rem;
  /* border: 1px solid red; */
  padding-bottom: 20px;
  /* padding: 20px 20px 20px 0; */
}

.cart-contents {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid red; */
}

.cart-empty img {
  width: 130px;
  height: auto;
  /* border: 1px solid red; */
}

.cart-empty-text {
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(12, 20%, 44%);
  font-size: 0.8rem;
  /* border: 1px solid red; */
}

.cart-items-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* display: none; */
}

.cart-items-container hr {
  color: rgba(0, 0, 0, 0.3);
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.item-description {
  /* border: 1px solid red; */
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-qty,
.item-name,
.item-total {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.item-qty {
  margin-right: 5px;
  color: hsl(14, 86%, 42%);
}

.item-name {
  font-size: 1.1rem;
  text-transform: capitalize;
  color: hsl(14, 65%, 9%);
}

.item-detail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.8rem;
}

.item-price {
  color: hsl(7, 20%, 60%);
}

.item-total {
  color: hsl(12, 20%, 44%);
}

.item-cart-btn {
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: hsl(7, 20%, 60%);
}

.cart-item-order-total {
  /* border: 1px solid red; */
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
  color: hsl(14, 65%, 9%);
}

.order-total-price {
  font-family: "Red Hat Text Bold", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: hsl(14, 65%, 9%);
}

.cart-carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  display: none;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  font-size: 0.9rem;
  color: hsl(14, 65%, 9%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.carbon-neutral-text span {
  font-family: "Red Hat Text SemiBold", Arial, Helvetica, sans-serif;
}

.btn-confirm-order {
  display: none;
  padding: 15px 0;
  font-size: 1.1rem;
  text-transform: capitalize;
  background-color: hsl(14, 86%, 42%);
  border-style: none;
  color: hsl(20, 50%, 98%);
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.btn-confirm-order:hover {
  background-color: hsl(14, 78%, 41%);
}
